<div class="col-md-3">
	<div class="panel box-body" style="background-color:#d9dde9">
		<p align="center"><font color=#3d0f28 size=4>All Details</font></p>
		<hr>
		<div class="form-group">
			<strong>
				<p><span class="label label-success">{{ counts.group }}</span>
					 <span class="pull-right"> groups </span></font></p>
				<p><span class="label label-danger">{{ counts.user }}</span>
					<span class="pull-right"> users</span></font></p>
				<p><span class="label label-info">{{ counts.article }}</span>
					<span class="pull-right"> articles</span></font></p>
				<p><span class="label label-warning">{{ counts.item }}</span>
					<span class="pull-right"> items </span></font></p>
				<hr>
			</strong>
		</div>
	</div>
</div>
