<div class="col-md-3">
	<!-- <div class="panel box-body" > -->
		<!-- <div class="form-group"> -->
			<strong>
				<img src="{{ base_url() }}/assets/images/{{ group.image }}" align="center" width="234" height="234">
			</strong>
		<!-- </div> -->
	<!-- </div> -->
</div>
