{% extends 'templates/default.twig' %}

{% block title %} Setting account {% endblock %}
{% block content %}
    
<div class="panel-body">
    <div class="box box-info">
        <a href="#"><h4>&nbsp;&nbsp;&nbsp;Setting account</h4></a><br />
        <div class="box-header">
            <div class="row">
              <!-- Navigation Buttons -->
              <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked" id="myTabs">
                  <li class="active"><a href="#home" data-toggle="pill">Home</a></li>
                  <li><a href="#profile" data-toggle="pill">Profile</a></li>
                  <li><a href="#messages" data-toggle="pill">Messages</a></li>
                </ul>
              </div>

              <!-- Content -->
              <div class="col-md-9">
                <div class="tab-content">
                  <div class="tab-pane active" id="home">Home</div>
                  <div class="tab-pane" id="profile">Profile</div>
                  <div class="tab-pane" id="messages">Messages</div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}